* {

    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;

}

a {

	text-decoration: none;

}

.app-nav {

	position: fixed;
	height: 50px;
	background-color: RGBA(60, 118, 224, 1);

}

.home-logo {

	height: 100%;
	width: 10%;
	float: left;

}

.home-logo h4,
.nav-col {

    text-align: center;
    height: 100%;
    line-height: 50px;

}

.home-logo a,
.nav-col a {

	display: inline-block;
	color: white;
	width: 100%;

}

.nav-columns {

    height: 100%;
    float: right;
    width: 35%;
    display: inline;

}

.nav-hover:hover {

	background-color: RGBA(39, 149, 191, 1);

}

 /*-- fluid width and larger display width -- */
 .grid-container {

        width : 100%;
        max-width : 100%; 
        
}

/*-- clearfix hack to contain rows -- */ 
.row:before, 
.row:after {

    content:"";
    display: table ;
     clear:both;
     
}

/*-- selects all col- class and gives float left --*/
[class*='col-'] {
  float: left;
}

/*-- sets width for three columns --*/
.col-1-3,
.col-2-3,
.col-3-3 {

	min-height: 1px;
	height: 100%;
	width: 33.33%;

}

.landing-section {

	height: 650px;

}

.mission-section,
.how-to-section {

	height: 450px;

}

.app-name {

	text-align: center;
	padding-top: 15%;

}

.name-and-title {

    width: 45%;
    margin: auto;
    padding: 1%;
    border: 10px solid black;

}

.name-and-title h1 {

	font-size: 6em;

}

.name-and-title p {

    font-size: 1.5em;

}

.mission-section {

	background-color: RGBA(39, 40, 33, 1);

}

.mission-statement {

    padding-top: 10%;
    width: 75%;
    margin: auto;
    color: white;

}

.mission-statement h1 {

	margin: auto;
    margin-bottom: 3%;
    font-size: 3em;
    text-align: center;
    border-bottom: 5px solid white;
    width: 600px;

}

.mission-statement p {

	font-size: 1.25em;
	letter-spacing: 2px;

}












